@import '../common.scss';

.selector {
  padding: 18px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $B50;

    &:active {
      background-color: $B30;
    }
  }
}
