@import '../common.scss';

.selector {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;

  &:hover {
    background-color: $B50;

    &:active {
      background-color: $B30;
    }
  }

  .main {
    align-items: center;
    display: flex;
    flex: 2;
  }

  .extra {
    flex: 1;
  }
}
