@namespace "Checkbox";
:import{
    -st-from:"../../node_modules/stylable-components";
    -st-default: Checkbox as CH;
}

:vars {
    B10: #3899ec;
    B20: #4eb7f5;
    B40: #daeffe;
    D80: #ffffff;
    GR20: #dadada;
    GR30: #f1f1f1;
}

.root {
    -st-states: checked, disabled, propHover, propActive, indeterminate, large;
    display: inline-block;
}

:global(.rtl) .root{
    direction: rtl;
}

.checkbox {
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    border: 1px solid value(B10);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: value(D80);
}

.root:large .checkbox {
    width: 20px;
    height: 20px;
}

.root:hover .checkbox, .root:propHover .checkbox {
    background-color: value(B40);
}

.root:active .checkbox, .root:propActive .checkbox {
    background-color: value(B20);
}

.root:checked .checkbox, .root:hover:checked .checkbox, .root:propHover:checked .checkbox{
    background-color: value(B10);
}

.tickMark {
    position: relative;
    top: -4px;
    left: 3px;
    width: 14px;
    height: 14px;
    color: value(D80);
    opacity: 0;
}

.tickMark > svg {
    width: 9px;
    height: 9px;
}
.root:large .tickMark {
    top: -1px;
}

.root:large .tickMark > svg {
    width:13px;
    height:13px;
}

.tickMark > svg > path {
    fill: #fff;
}

:global(.rtl) .tickMark {
    left: -2px;
}

.root:checked:not(:indeterminate) .tickMark, .root:hover:checked:not(:indeterminate) .tickMark, .root:propHover:checked:not(:indeterminate) .tickMark, .root:active:not(:indeterminate) .tickMark, .root:propActive:not(:indeterminate) .tickMark {
    opacity: 1;
}

.indeterminate {
    background-color: value(D80);
    width: 8px;
    height: 2px;
    position: relative;
    top: -8px;
    left: 3px;
    opacity: 0;
}

.root:large .indeterminate {
    top: -6px;
    left: 5px;
}

:global(.rtl) .indeterminate {
    left: -3px;
}

.root:indeterminate:checked .indeterminate, .root:indeterminate:active .indeterminate, .root:indeterminate:propActive .indeterminate {
    opacity: 1;
}

:global(.ltr) .children, .children {
    padding-left: 12px;
}

:global(.rtl) .children {
    padding-right: 12px;
}

.root:disabled {
    pointer-events: none;
    cursor: default;
}

.root:disabled .checkbox, .root:disabled:hover .checkbox, .root:disabled:propHover .checkbox, .root:disabled:active .checkbox, .root:disabled:propActive .checkbox{
    border-color: value(GR20);
    background-color: value(GR30);
}

.root:disabled:checked .checkbox, .root:disabled:checked:hover .checkbox, .root:disabled:checked:propHover .checkbox, .root:disabled:checked:active .checkbox, .root:disabled:checked:propActive .checkbox{
    background-color: value(GR20);
}

.stylableCheckBox {
    display: flex;
    align-items: center;
}

.stylableCheckBox .checkbox {
    display: inline-block;
}

.stylableCheckBox label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}