@namespace "MessageBoxMarketerialLayout";

:import {
    -st-from: "../common.st.css";
    -st-named: FontThin, FontLight, D10, P10, B10;
}

:vars {
    headerHeight: 120px;
    headerImageHeight: 185px;
}

.root {
    width: 600px;
    background-color:#FFF;
    border-radius: 8px;
}

.header {
    border-radius: 8px 8px 0 0;
    height: value(headerHeight);
    margin-bottom: calc(value(headerImageHeight) - value(headerHeight));
    position: relative;
}

.header-purple {
    background-color: value(P10);
}

.header-blue {
    background-color: value(B10);
}

.headerImage {
    width: 300px;
    height: value(headerImageHeight);
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.headerImage > img {
    max-width: 300px;
    max-height: value(headerImageHeight);
}

.headerImageComponent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgba(22, 45, 61, 0.2);
    cursor: pointer;
}

.close:hover, .close:focus {
    background-color: rgba(22, 45, 61, 0.4);
}

.close > svg {
    margin-top: 1px;
}

.close > svg > path {
    stroke: #fff;
}

.title {
    font-family: value(FontThin); /* TODO: Mixin like in common? */
    width: 384px;
    margin: 0 auto 19px auto;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #162d3d;
}

.content {
    font-family: value(FontLight); /* TODO: Mixin like in common? */
    width: 384px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: value(D10);
    margin-bottom: 48px;
}

.buttonsContainer {
    text-align: center;
    padding-bottom: 44px;
}

.primaryButtonContainer {
    font-family: value(FontLight); /* TODO: Mixin like in common? */
    font-size: 14px;
    line-height: 1.29;
    color: value(B10);
    margin-bottom: 8px;
}

.secondaryButtonContainer {
    font-family: value(FontLight); /* TODO: Mixin like in common? */
    margin-top: 21px;
    font-size: 14px;
    line-height: 1.29;
    color: value(B10);
}

.secondaryButtonContainer > span {
    cursor: pointer;
}
