@namespace "MessageBoxFunctionalLayout";

:import {
    -st-from: "../common.st.css";
    -st-named: paletteD2;
}

:import {
    -st-from: "../Typography/typography-mixins.js";
    -st-named: FontLight;
}

.root {
    border-radius: 8px;
    background-color: white;
    width: 600px;
}

.body {
    -st-mixin: FontLight;
    padding: 36px 30px 42px 30px;
    color: value(paletteD2);
    font-size: 16px;
    line-height: 24px;
}
