@namespace "InputWithTags";

:import {
    -st-from: "../common.st.css";
    -st-named: FontThin, FontRoman, D30, D55, B20, B30, paletteR1;
}

.root {
    -st-states: disabled, error, hasFocus;
    width: 100%;
    font-family: value(FontThin); /* TODO: Mixin like in common? */
    border: 1px solid value(B30);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: none;
    color: value(D30);
    font-size: 16px;
}

.root div {
    border: none !important;
}

.root div:hover {
    background-color: transparent;
}

.root:disabled {
    border-color: value(D55);
}

.root:error {
    border-color: value(paletteR1);
}

.root:hasFocus {
    border-color: value(B20);
}

.input {
    min-width: 100px;
}

.hiddenDiv {
    font-family: value(FontRoman); /* TODO: Mixin like in common? */
    visibility: hidden;
    padding: 0 12px;
    white-space: pre;
    height: 0;
}