@namespace "MultiSelect";

:import {
    -st-from: "../InputWithOptions/InputWithOptions.st.css";
    -st-default: InputWithOptions;
}

.root {
    -st-extends: InputWithOptions;
}

.root::dropdownWrapper {}

.root::inputWrapper {}