.scrollable {
  overflow-y: auto
}

.dataTable {
  position: relative;
}

.tableContent {
  overflow: auto;
  margin: 0; 
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.headerCell {
  padding: 0 15px;
}

.cell{
  padding: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.headerRow {
  padding: 0 15px;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  text-align: start;
  color: #7a92a5;
  background-color: rgba(240,243,247,1);
  border-top: 1px solid #dfe5eb;
  
  .headerTitle {
    cursor: default;
    user-select: none;
    &:hover {
      color: #3899ec;
    }
  }
  .sortableColumn {
    display: inline-flex;
    
    .headerTitle,
    .sortArrow {
      cursor: pointer;
    }
    
    .sortArrow {
      margin-left: 7px;
      display: inline-block;
      transition: all .1s linear;
      &.descent {
        transform: rotate(-180deg);
      }
    }
  }
}

.bodyRow {
  padding: 0 15px;
  outline: none;
  display: flex;
  list-style: none;
  font-size: 14px;
  color: #7a92a5;
  border-bottom: 1px solid #f0f4f7;
  
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: #eaf7ff;
      cursor: pointer;
    }
  }
}

.loader {
  padding: 10px 0;
  text-align: center;
}

.pageContainer {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 32px;
  background: #f0f4f7;
}

.scrollContainer {
  padding: 0 48px auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.container {
  min-width: 894px;
  max-width: 1254px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  
  @media (min-width: 1200px) {
    width: 1170px;
  }
  @media (min-width: 992px) {
    
    width: 970px;
  }
  @media (min-width: 768px) {
    width: 750px;
  }
}
