.wixStyleDataTable {
  :global {
    .ReactVirtualized__Table__headerRow {
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .ReactVirtualized__Table__row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .ReactVirtualized__Table__headerTruncatedText {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      
      &:hover {
        cursor: default;
      }
    }
    
    .ReactVirtualized__Table__headerColumn,
    .ReactVirtualized__Table__rowColumn {
      margin-right: 10px;
      min-width: 0px;
    }
    .ReactVirtualized__Table__rowColumn {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .ReactVirtualized__Table__headerColumn:first-of-type,
    .ReactVirtualized__Table__rowColumn:first-of-type {
      margin-left: 10px;
    }
    .ReactVirtualized__Table__sortableHeaderColumn {
      cursor: pointer;
    }
    
    .ReactVirtualized__Table__sortableHeaderIconContainer {
      display: flex;
      align-items: center;
    }
    .ReactVirtualized__Table__sortableHeaderIcon {
      flex: 0 0 24px;
      height: 1em;
      width: 1em;
      fill: currentColor;
    }
  }
}

.headerRow {
  padding: 11.5px 0 12.5px 0;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  background-color: rgba(240,243,247,.5);
  text-align: start;
  color: #7a92a5;
  border-top: 1px solid #dfe5eb;
  
  .sortableColumn {
    display: inline-flex;
    .sortArrow {
      display: inline-block;
      cursor: pointer;
      transition: all .1s linear;
        &.descent {
       transform: rotate(-180deg);
    }
    }
  }
}

.bodyRow {
  outline: none;
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: #eaf7ff;
      cursor: pointer;
    }
  }
}

.headerColumn {
  &:hover {
    cursor: default;
    color: #3899ec;
  }
}

.rowColumn {
  font-size: 14px;
  color: #7a92a5;
  padding: 9px 0;
  border-bottom: 1px solid #f0f4f7;
}
